.column iframe{
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column {
    float: left;
    width: 100%;
    padding: 20px;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }

    .container {
        display: block;
    }

    .nav-top {
        display: none;
    }
}
